function Hawk.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push argument 0
pop this 2
push pointer 0
call Hawk.draw 1
pop temp 0
push pointer 0
return
function Hawk.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Hawk.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 440
push constant 180
push constant 445
push constant 185
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 175
push constant 450
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 170
push constant 450
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 165
push constant 455
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 160
push constant 460
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 155
push constant 475
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 150
push constant 465
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 435
push constant 145
push constant 480
push constant 150
call Screen.drawRectangle 4
pop temp 0
push constant 430
push constant 140
push constant 465
push constant 145
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 135
push constant 460
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 405
push constant 130
push constant 425
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 410
push constant 125
push constant 420
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 415
push constant 120
push constant 420
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Hawk.moveLeft 0
push argument 0
pop pointer 0
push argument 1
push constant 2
sub
pop this 4
label WHILE_EXP0
push this 4
push constant 310
lt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 440
push this 4
sub
push constant 180
push constant 445
push this 4
sub
push constant 185
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 175
push constant 450
push this 4
sub
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 170
push constant 450
push this 4
sub
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 165
push constant 455
push this 4
sub
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 160
push constant 460
push this 4
sub
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 155
push constant 475
push this 4
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 150
push constant 465
push this 4
sub
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 435
push this 4
sub
push constant 145
push constant 480
push this 4
sub
push constant 150
call Screen.drawRectangle 4
pop temp 0
push constant 430
push this 4
sub
push constant 140
push constant 465
push this 4
sub
push constant 145
call Screen.drawRectangle 4
pop temp 0
push constant 400
push this 4
sub
push constant 135
push constant 460
push this 4
sub
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 405
push this 4
sub
push constant 130
push constant 425
push this 4
sub
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 410
push this 4
sub
push constant 125
push constant 420
push this 4
sub
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 415
push this 4
sub
push constant 120
push constant 420
push this 4
sub
push constant 125
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 2
add
pop this 4
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 440
push this 4
sub
push constant 180
push constant 445
push this 4
sub
push constant 185
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 175
push constant 450
push this 4
sub
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 170
push constant 450
push this 4
sub
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 165
push constant 455
push this 4
sub
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 160
push constant 460
push this 4
sub
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 155
push constant 475
push this 4
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 440
push this 4
sub
push constant 150
push constant 465
push this 4
sub
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 435
push this 4
sub
push constant 145
push constant 480
push this 4
sub
push constant 150
call Screen.drawRectangle 4
pop temp 0
push constant 430
push this 4
sub
push constant 140
push constant 465
push this 4
sub
push constant 145
call Screen.drawRectangle 4
pop temp 0
push constant 400
push this 4
sub
push constant 135
push constant 460
push this 4
sub
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 405
push this 4
sub
push constant 130
push constant 425
push this 4
sub
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 410
push this 4
sub
push constant 125
push constant 420
push this 4
sub
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 415
push this 4
sub
push constant 120
push constant 420
push this 4
sub
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 7
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 440
push constant 310
sub
push constant 180
push constant 445
push constant 310
sub
push constant 185
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 175
push constant 450
push constant 310
sub
push constant 180
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 170
push constant 450
push constant 310
sub
push constant 175
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 165
push constant 455
push constant 310
sub
push constant 170
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 160
push constant 460
push constant 310
sub
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 155
push constant 475
push constant 310
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 440
push constant 310
sub
push constant 150
push constant 465
push constant 310
sub
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 435
push constant 310
sub
push constant 145
push constant 480
push constant 310
sub
push constant 150
call Screen.drawRectangle 4
pop temp 0
push constant 430
push constant 310
sub
push constant 140
push constant 465
push constant 310
sub
push constant 145
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 310
sub
push constant 135
push constant 460
push constant 310
sub
push constant 140
call Screen.drawRectangle 4
pop temp 0
push constant 405
push constant 310
sub
push constant 130
push constant 425
push constant 310
sub
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 410
push constant 310
sub
push constant 125
push constant 420
push constant 310
sub
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 415
push constant 310
sub
push constant 120
push constant 420
push constant 310
sub
push constant 125
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
